.artistDetail .header {
  max-height: 25vw;
  background-image: linear-gradient(to bottom right, #ffe6ec, #fd95ae);
  margin-bottom: 1.7vw;
}
.artistDetail .headerDetail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7vw 0 2vw 3vw;
}
.artistDetail .followBtn {
  border: 1px solid black;
  color: black;
  padding: 0.2vw 1vw;
  margin: 1vw 1vw 1vw 0;
  width: 10vw;
  font-size: 1vw;
}
.artistDetail .buttonPlay {
  cursor: pointer;
}
.artistDetail .buttonPlay:hover {
  color: white;
  transition: 0.3s ease-out;
}
.artistSongsHeader,
.artistAlbumsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2vw;
  font-size: 1.2vw;
}
