.recentlyListen {
    display: flex;
    column-gap: 25px;
    width: 100%;
    overflow: hidden;
}

.playlistItem {
    width: 100%;
    max-width: 250px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
}
.imagePlaylist {
    max-width: 250px;
    min-width: 100px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 20px;
    object-fit: fill;
}
.playlistItem p {
    font-size: 18px;
    color: black;
    margin-top: 10px;
    text-align: center;
}

