.favSong {
    width: 100%;
    overflow: hidden;
}
.favSong .item {
    display: flex;
    padding: 10px;
    width: 100%;
    height: fit-content;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
}
.favSong .track:hover .item {
    background-color: #ffdde5;
}
.favSong .track .songImg {
    max-width: 110px;
    min-width: 70px;
    border-radius: 10px;
    aspect-ratio: 1;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.favSong .item img {
    width: 100%;
    max-width: 110px;
    min-width: 70px;
    border-radius: 10px;
    aspect-ratio: 1;
    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
}
.favSong .track:hover img {
    transform: scale(1.05);
    filter: brightness(70%);
}
.favSong .artist {
    text-decoration: none;
}
.favSong .songDetail div:first-of-type {
    font-size: 25px;
}
.favSong .artist span a, 
.favSong .songDetail div:not(:first-of-type) {
    color: gray;
    font-weight: normal;
    margin-top: 10px;
}
.favSong .songDetail .trackReleaseDate {
    display: none;
}
.favSong .songDetail div:last-of-type {
    position: absolute;
    right: 0;
    top: 42%;
    transform: translate(0, -58%);
    margin-right: 20px;
    @media (max-width: 700px) {
    position: relative;
    display: none
    }
}
.favSong .track:hover .songDetail div:last-of-type {
    display: none;
}
.favSong .artist span:not(:last-of-type)::after {
    content: ', ';
}
.favSong .artist span:hover a {
    color: #ff7394;
}
.favSong .track {
    position: relative;
    width: 100%;
}
.favSong .track .fauxImg {
    width: 100%;
    max-width: 110px;
    min-width: 70px;
    border-radius: 10px;
    aspect-ratio: 1;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0 , -50%);
    -ms-transform: translate(0, -50%);
}
.favSong .track>.rightIcon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    padding: 0;
    margin-right: 10px;
}
.favSong .track:hover .rightIcon {
    background-color: #ffdde5;
}
.favSong .favIcon {
    color: #ff7394;
}
.favSong .favIcon,
.favSong .favOutlineIcon,
.favSong .moreHoriz {
    background-color: transparent;
    border-radius: 25px;
    padding: 5px;
    transition: all .5 ease;
    margin-right: 5px;
    cursor: pointer;
    color: #ff7394;
}
.favSong .moreHoriz {
    color: transparent;
}
.favSong .favOutlineIcon {
    display: none;
}
.favSong .favIcon:hover,
.favSong .favOutlineIcon:hover,
.favSong .moreHoriz:hover {
    background-color: #ffffffbb;
    color: #ff7394;
}
.favSong .track .icon {
    align-items: center;
    border: none;
    display: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #fff;
    cursor: pointer;
}
.favSong .track:hover .icon,
.favSong .track:hover .favOutlineIcon,
.favSong .track:hover .moreHoriz {
    display: inline-block;
}
.favSong .track:hover .favOutlineIcon,
.favSong .track:hover .moreHoriz {
    color: black;
}