.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.categoryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.categoryTitle {
    font-size: 20px;
}
a {
    text-decoration: none;
}
.linkToAllPlaylist p {
    text-decoration: none;
    color: gray;
}