@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap");
.container {
  width: 100%;
  margin: 0 auto ;
  padding: 0;
  max-width: 1920px;
}

.categoryHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 60px;
}
.container .categoryHeader:not(.categoryHeader ~ .categoryHeader) {
  margin-top: 10px;
}
.categoryTitle {
  font-size: 25px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
}
.linkToAllPlaylist p {
  text-decoration: none;
  color: gray;
}
.container.active {
  margin-bottom: 7em;
}
.container.inactive {
  margin-bottom: 0;
}

.recommendationPlaylist,
.albumHot,
.top100 {
  display: flex;
  column-gap: 25px;
  width: 100%;
  overflow: hidden;
}
.recommendationPlaylist .playlistItem,
.albumHot .playlistItem,
.top100 .playlistItem {
  position: relative;
  max-width: 300px;
  min-width: 150px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.recommendationPlaylist .playlistItem img,
.albumHot .playlistItem img,
.top100 .playlistItem img {
  width: 300px;
  min-width: 150px;
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  object-fit: fill;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.recommendationPlaylist .playlistItem .playPlaylist,
.albumHot .playlistItem .playPlaylist,
.top100 .playlistItem .playPlaylist {
  display: flex;
  align-items: center;
  display: none;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
.recommendationPlaylist .playlistItem .playPlaylist .icon,
.albumHot .playlistItem .playPlaylist .icon,
.top100 .playlistItem .playPlaylist .icon {
  font-size: minmax(calc(1rem + 2vw), 80px);
  margin: auto auto;
}
.recommendationPlaylist .playlistItem .playPlaylist .icon:hover,
.albumHot .playlistItem .playPlaylist .icon:hover,
.top100 .playlistItem .playPlaylist .icon:hover {
  background-color: rgba(255, 255, 255, 0.286);
  border-radius: 50px;
  transition: all 0.5 ease;
  padding: 5px;
}
.recommendationPlaylist .playlistItem:hover .playPlaylist,
.albumHot .playlistItem:hover .playPlaylist,
.top100 .playlistItem:hover .playPlaylist {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.recommendationPlaylist .playlistItem:hover img,
.albumHot .playlistItem:hover img,
.top100 .playlistItem:hover img {
  transform: scale(1.05);
  filter: brightness(70%);
}
.top100 .playlistName,
.top100 .artists {
  display: none;
}
.playlistName {
  margin-top: 15px;
  text-align: center;
  font-weight: normal;
  color: black;
  position: relative;
}
.listPlaylists {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
}
.recommendationPlaylist .artists,
.albumHot .artists {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  width: 100%;
  position: relative;
}
.recommendationPlaylist .artists a,
.recommendationPlaylist .artists a:hover,
.albumHot .artists a,
.albumHot .artists a:hover {
  font-weight: normal;
  text-decoration: none;
  color: gray;
}

.recommendationPlaylist .artists span:not(:last-of-type)::after,
.albumHot .artists span:not(:last-of-type)::after {
  content: ", ";
}

