@font-face {
  font-family: vera;
  src: url(../assets/QuicksandMedium.ttf);
}
.musicPlayerBox .trackPlayingName {
  font-family: vera !important;
}
.songArtist span.artist:not(:last-of-type)::after {
  content: ",\00a0" !important;
}
.artist a {
  font-weight: normal;
  text-decoration: none;
  color: gray;
}

.artist:hover {
  cursor: pointer;
  text-decoration: underline;
  color: grey;
}
.css-1q7hqz6 {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0;
}