@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap");
.recentlyHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 15px;
}
.recentlyHeader h1 {
  margin-right: 4vw;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2vw;
  margin-top: 2px;
}
.indexRecentlyBtn button {
  background-color: transparent;
  margin: 0 40px 0 0;
  font-size: 1.3vw;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  cursor: pointer;
}
.recentlyPlaylist {
  width: 5.5vw;
  margin-left: 18.8vw;
}
.recentlySong {
  width: 5.5vw;
  margin-left: 12vw;
}
.recentlyContent {
  margin-top: 20px;
}
