.newReleaseContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.newReleaseContainer .newReleaseHeader {
    display: flex;
    align-items: center;
}
.newReleaseContainer .newReleaseHeader button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    color: #ff7394;
    margin-left: 15px;
    width: 40px;
    height: 40px;
}
.newReleaseContainer .newReleaseHeader button:hover {
    background-color: whitesmoke;
}
.newReleaseContainer .newReleaseSubHeader {
    width: 100%;
    display: flex;
}
.newReleaseContainer .newReleaseSubHeader button {
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 10px 2px;
    margin-right: 20px;
}
.newReleaseContainer .newReleaseSubHeader button.selected,
.newReleaseContainer .newReleaseSubHeader button:hover {
    border-bottom: 2px solid #ff7394;
}