.newSongReleaseContainer {
  width: 100%;
  overflow: hidden;
}
.newSongReleaseContainer .newSongsBtn {
  margin-top: 20px;
  .active {
    border: none;
    background-color: #ff7394;
    color: rgb(255, 255, 255);
  }
  .active, .inactive {
    border-radius: 25px;
    cursor: pointer;
    justify-content: center;
    height: 30px;
    width: 120px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
  }
  .inactive {
    background-color: transparent;
    border: 1px solid #ff7394;
    color: black;
  }
  .inactive:hover {
    transition: 0.3s ease;
    background-color: #ffdde5;
    border-color: #ffdde5 ;
  }
}
.newSongReleaseContainer .newSongsBodyHeading {
  display: flex;
  margin-left: 20px;
  font-weight: bold;
  font-size: large;
}
.newSongReleaseContainer .newSongsBodyHeading .releaseDate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 1200px) {
    position: relative;
    display: none;
  }
}
.newSongReleaseContainer .newSongsBodyHeading div:last-of-type {
  position: absolute;
  right: 0;
  transform: translateX(0);
  margin-right: 50px;
  @media (max-width: 700px) {
    position: relative;
    display: none;
  }
}
.newSongReleaseContainer .newSongsBody {
  padding: 0 10px;
  .trackReleaseDate {
    display: block !important;
  }
}