.playlistDetailContainer {
  width: 100%;
  overflow: hidden;
}
.playlistDetailContainer .playlistDetail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 35px;
  @media (max-width: 1000px) {
    display: block;
  }
}
.playlistDetailContainer .playlistDetail .detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @media (min-width: 740px) and (max-width: 1000px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
  }
}
.playlistDetailContainer .playlistDetail .detail .playlistImg {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 1;
}
.playlistDetailContainer .playlistDetail .detail .playlistImg img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
  object-fit: cover;
}
.playlistDetailContainer .playlistDetail .detail .playlistImg:hover img {
  transform: scale(1.03);
  filter: brightness(70%);
  opacity: 60%;
}
.playlistDetailContainer .playlistDetail .detail .playlistImg .playPlaylist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  display: none;
  cursor: pointer;
}
.playlistDetailContainer
  .playlistDetail
  .detail
  .playlistImg:hover
  .playPlaylist {
  display: block;
}

.playlistDetail .detail button {
  width: fit-content;
}
.playlistDetail .songs {
  margin-top: 10px;
}
.detailButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlistDetail .playButton,
.playlistDetail .moreButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vw;
  font-size: 1.5vw;
  border: none;
  cursor: pointer;
}
.playlistDetail .playButton {
  background-color: #fda2b7;
  border-radius: 20px;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
}
.playlistDetail .moreButton {
  background-color: #ffdde5;
  border-radius: 50%;
  margin: 20px;
}
.playlistDetail .moreButton:hover {
  background-color: #ffcaec7b;
  cursor: pointer;
  transition: 0.5s ease-in;
  transform: scale(1.1);
}
.playlistDetail.active {
  margin-bottom: 7em;
}
.playlistDetail.inactive {
  margin-bottom: 0;
}
