@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.horizoneLine {
  margin-bottom: 30px;
}

.libraryPlaylistBtn {
  margin-bottom: 20px;
}

.allBtn,
.myBtn {
  border: none;
  background-color: #e77373;
  color: rgb(255, 255, 255);
}

.allBtn,
.myBtn,
.noneAllBtn,
.noneMyBtn {
  border-radius: 25px;
  cursor: pointer;
  justify-content: center;
  height: 30px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  margin-right: 25px;
}
.noneAllBtn,
.noneMyBtn {
  background-color: transparent;
  border: 2px solid #e77373;
  color: black;
}

.allBtn:hover,
.myBtn:hover,
.noneMyBtn:hover,
.noneAllBtn:hover {
  background-color: #fba1b6;
  cursor: pointer;
  transition: 0.3s ease;
  color: #373b3e;
  border: none;
}
