@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.horizoneLine {
  margin-bottom: 30px;
}

.libraryPlaylistBtn {
  margin-bottom: 20px;
}

.playlistActiveBtn {
  border: none;
  background-color: #e77373;
  color: rgb(255, 255, 255);
}

.playlistInactiveBtn,
.playlistActiveBtn {
  border-radius: 25px;
  cursor: pointer;
  justify-content: center;
  height: 2vw;
  width: 7vw;
  text-decoration: none;
  font-size: 1vw;
  font-family: "Rubik", sans-serif;
  margin-right: 25px;
}
.playlistInactiveBtn {
  background-color: transparent;
  border: 2px solid #e77373;
  color: black;
}

.playlistInactiveBtn:hover,
.playlistActiveBtn:hover {
  background-color: #fba1b6;
  cursor: pointer;
  transition: 0.3s ease;
  color: #373b3e;
  border: none;
}
