.horizoneLine {
  margin-bottom: 30px;
}
.librarySongBtn {
  margin-bottom: 20px;
}
.songActiveBtn {
  border: none;
  background-color: #e77373;
  color: rgb(255, 255, 255);
}
.songInactiveBtn,
.songActiveBtn {
  border-radius: 25px;
  cursor: pointer;
  height: 30px;
  width: 110px;
  text-decoration: none;
  margin-right: 25px;
  font-size: 15px;
}
.songInactiveBtn {
  background-color: transparent;
  border: 2px solid #e77373;
  color: black;
}
.songActiveBtn:hover,
.songInactiveBtn:hover {
  background-color: #fba1b6;
  cursor: pointer;
  transition: 0.3s ease;
  color: #373b3e;
  border: none;
}
