/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap"); */
.songItem,
.Detail,
.songMoreDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.songItem {
  padding-bottom: 16px !important;
}
.songMedia {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
.cardSong {
  border: 1px solid transparent !important;
  border-radius: 10px !important;
  background-color: #f2f2f255 !important;
  max-width: 100%;
  margin-bottom: 13px;
}
.Detail {
  justify-content: space-between;
  width: 100%;
}
.time {
  /* font-family: "Josefin Sans", sans-serif !important; */
  font-size: 1.3vw !important;
  margin-left: 20px !important;
}
.songHeader Typography {
  /* font-family: "Josefin Sans", sans-serif !important; */
}
.moreOption {
  background-color: transparent;
  border: none;
  /* display: none; */
  cursor: pointer;
  margin-left: 1vw;
  margin-right: 0.5vw;
}
.playBtn {
  position: absolute;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  display: none;
  cursor: pointer;
}
.cardSong:hover {
  background-color: #c2c2c3 !important;
}
.cardSong:hover .time {
  display: none;
}
.cardSong:hover .moreOption,
.cardSong:hover .playBtn {
  display: block;
}
.cardSong:hover .songMedia {
  opacity: 50%;
}
.artist a {
  font-weight: normal;
  text-decoration: none;
  color: gray;
}

.artist:hover {
  cursor: pointer;
  text-decoration: underline;
  color: grey;
}
.songArtist span:not(:last-of-type)::after {
  content: ", " !important;
}
