.artists {
    display: flex;
    column-gap: 25px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

.artist {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
}
.artist img {
    max-width: 300px;
    min-width: 100px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 20px;
    object-fit: fill;
}

