.topTrendingArtists {
  display: flex;
  column-gap: 25px;
  width: 100%;
  overflow: hidden;
}

.topTrendingArtists .artist {
  max-width: 300px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}
.topTrendingArtists img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  object-fit: cover;
}
