.shadowDiv {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
    padding-left: 10px;
}
.song {
    margin-bottom: 10px; 
    border-radius: 10px; 
}
.song .item {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    background-color: transparent;
}
.song .item .songImg {
    max-width: 60px;
    min-width: 40px;
    border-radius: 5px;
    aspect-ratio: 1;
    margin: 10px 10px 10px 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}
.song .item .songImg img {
    max-width: 60px;
    min-width: 40px;
    height: auto;
    aspect-ratio: 1;
    width: 100%;
    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
}
.song .item .songImg .playSongIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
    display: none;
}
.song:hover {
    background-color: #ffdde5;
    .item .songImg .playSongIcon {
        display: block;
    }
    .item .songImg img {
        transform: scale(1.05);
        filter: brightness(70%);
    }
    .item .rightIcon .favOutlineIcon,
    .item .rightIcon .moreIcon {
        color: black !important;
    }
    .item .songDetail .trackDuration {
        display: none;
    }
}

.item .songDetail .artist {
    text-decoration: none;
}
.item .songDetail div:first-of-type {
    font-size: 17px;
}
.item .songDetail .artist span:not(:last-of-type):after {
    content: ', ';
}
.item .songDetail .artist span:hover a {
    color: #ff7394;
}
.item .songDetail .trackReleaseDate {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    @media (max-width: 1200px) {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0,0);
    }
  }
.item .songDetail .trackDuration {
    position: absolute;
    top: 35%;
    right: 0;
    transform: translate(0, -65%);
    margin: 15px;
}
.item .rightIcon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    .favIcon, .favOutlineIcon, .moreIcon {
        border-radius: 50%;
        padding: 2px;
        margin-right: 15px;
        cursor: pointer;
    }
    .favOutlineIcon, .moreIcon {
        color: transparent !important;
    }
    .favIcon {
        color: #ff7394;
    }
    .favIcon:hover,
    .favOutlineIcon:hover,
    .moreIcon:hover {
        background-color: #ffffffbb;
    }
}