* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}
.main {
  display: flex;
  height: 100vh;
}
.header {
  margin-bottom: 40px;
}
.musicPlayer {
  height: 18vh;
  bottom: 0;
  position: fixed;
  max-width: 100%;
  left: 260px;
  padding: 20px;
}
