/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap"); */
@font-face {
  font-family: vera;
  src: url(./assets/QuicksandMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vera;
}

html,
body {
  height: 100vh;
}
html::-webkit-scrollbar {
  display: none;
}
.main {
  display: flex;
  height: 100vh;
}
.header {
  left: 260px;
}
.musicPlayer {
  height: fit-content;
  bottom: 0;
  position: fixed;
  max-width: 100%;
  /* left: 17vw;
  padding: 2vw 2vw 1vw; */
  left: 0;

  z-index: 10;
}
.mainscreen {
  margin-top: 6em;
}
::-moz-selection {
  /* Code for Firefox */
  background: #ffbccc;
  color: white;
}

::selection {
  background: #ffbccc;
  color: white;
}
.notification {
  width: fit-content;
  z-index: 99;
  position: fixed;
  left: 2vw;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.css-wnkddu-MuiPaper-root-MuiAlert-root {
  background-color: white !important;
}
